@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    overflow: hidden;
}

.chat-entry:not(:first-child) {
    animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}
  